/* ############################################### */
/* CUSTOM PROPERTIES & UTILITY CLASSES             */
/* ############################################### */

:root {
  --color-mine-shaft: #262626;
  --color-french-rose: #f55f8d;
  --color-remy: #feeff3;
  --color-aztec: #0e1b1f;
  --color-te-papa-green: #1f343b;
  --color-white: #ffffff;
}

.container {
  width: 1200px;
  margin: auto;
}

.btn {
  color: var(--color-white);
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  padding: 15px 30px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-position: left center;
  background-size: 200%;
  cursor: pointer;
  transition: background-position 300ms ease;
}

.btn:hover {
  background-position: right center;
}

.title > *:nth-child(1) {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--color-french-rose);
}

.title > *:nth-child(2) {
  font-size: 70px;
  font-weight: 700;
  line-height: 82px;
  margin-bottom: 20px;
}

/* ############################################### */
/* CSS RESET                                       */
/* ############################################### */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ############################################### */
/* GENERAL CSS                                     */
/* ############################################### */

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: var(--color-mine-shaft);
}

/* ############################################### */
/* HEADER                                          */
/* ############################################### */

.header {
  position: absolute;
  top: 0;
  width: 100%;
}

.header__container {
  padding-block: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  cursor: pointer;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.header__nav-link > a {
  text-decoration: none;
  color: var(--color-mine-shaft);
  font-weight: 500;
}

.header__nav-link span {
  display: inline-block;
  transition: transform 1s ease, opacity 1s ease;
}

.header__nav-link:hover > a {
  color: var(--color-french-rose);
}

.header__nav-link:hover span {
  animation: verticalScrolling 0.3s;
}

@keyframes verticalScrolling {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

/* ############################################### */
/* HERO                                            */
/* ############################################### */

.hero {
  height: 100vh;
  min-height: 800px;
  background-image: url(../img/pic2.png);
  background-position: top;
  background-size: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
}

.hero__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__description {
  color: var(--color-mine-shaft);
  margin-bottom: 30px;
}

.hero__list {
  padding: 0;
  margin: 0 0 30px 0;
}

.hero__list > * + * {
  margin-top: 20px;
}

.hero__list-item > i {
  color: var(--color-white);
  font-weight: 900;
  font-size: 24px;
  text-align: center;
  line-height: 35px;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  margin-right: 10px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
}

/* ############################################### */
/* SERVICES                                        */
/* ############################################### */

.services {
  text-align: center;
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-position: top center;
  padding-block: 100px;
}

.services__title {
  margin-bottom: 40px;
}

.services__content {
  display: flex;
  gap: 30px;
}

.services__card {
  background-color: var(--color-white);
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px 45px;
  transition: transform 300ms ease;
}

.services__card:hover {
  transform: translateY(-20px);
}

.services__card > h3 {
  font-size: 24px;
  font-weight: 700;
  margin-block: 15px;
}

/* ############################################### */
/* ABOUT                                           */
/* ############################################### */

.about {
  padding-block: 100px;
  background-image: url(../img/bg15.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.about > .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.about__img {
  width: 50%;
  position: absolute;
  left: -15%;
}

.about__img > img {
  border-radius: 0 100px 100px 0;
}

.about__content {
  width: 55%;
}

.about__content > p {
  margin-bottom: 15px;
}

.about__content > ul {
  padding: 0;
  margin: 0 0 30px;
}

.about__content li {
  display: flex;
  gap: 10px;
  align-items: center;
}

.about__content li > i {
  font-size: 24px;
  color: var(--color-french-rose);
}

/* ############################################### */
/* STATIC                                          */
/* ############################################### */

.static {
  padding-block: 100px;
  text-align: center;
  background-image: url(../img/bg14.png);
  background-size: cover;
  background-position: center;
}

.static > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.static__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.static__item > i {
  font-size: 45px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: var(--color-white);
  border-radius: 50%;
  display: grid;
  place-content: center;
  width: 80px;
  aspect-ratio: 1;
}

.static__item > p:first-of-type {
  font-size: 65px;
  font-weight: 800;
  color: var(--color-french-rose);
}

/* ############################################### */
/* FEATURES                                        */
/* ############################################### */

.features {
  padding-block: 100px;
  background-image: url(../img/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.features > .container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.feature__card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.features__card-item {
  border-radius: 10px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  width: 90%;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  transition: color 1s ease, background-color 1s ease-out;
  background-color: var(--color-white);
}

.features__card-item:nth-of-type(2) {
  align-self: flex-end;
}

.features__card-item::after {
  content: "";
  opacity: 0;
  position: absolute;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  border-radius: 10px;
  background-size: 200%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: opacity 1s ease;
}

.features__card-item:hover::after {
  opacity: 1;
}

.features__card-item > i {
  font-size: 80px;
  color: var(--color-french-rose);
  transition: color 1s ease;
}

.features__card-item:hover,
.features__card-item:hover > i {
  color: var(--color-white);
  background-color: transparent;
}

.features__card-detail > p {
  font-size: 16px;
}

.features__img {
  animation: jiggle 5s ease infinite;
}

.features__img > img {
  max-width: 100%;
}

@keyframes jiggle {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}

/* ############################################### */
/* PORTFOLIO                                       */
/* ############################################### */

.portfolio {
  padding-block: 100px;
  text-align: center;
  background-image: url(../img/bg17.png);
  background-size: cover;
  background-position: top center;
}

.portfolio__gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 30px;
}

.portfolio__item {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.portfolio__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  transform: skew(-45deg);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.3) 100%
  );
  transition: left 0.7s ease;
}

.portfolio__item:hover::before {
  left: 150%;
}

.portfolio__item > img {
  height: 100%;
  object-fit: cover;
}

.portfolio__item:nth-of-type(1) {
  grid-column: 1 / 3;
}

.portfolio__item:nth-of-type(5) {
  grid-column: 1 / 3;
}

.portfolio__item:nth-of-type(6) {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

.portfolio__overlay {
  opacity: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--color-white);
  transition: opacity 1s ease;
}

.portfolio__item:hover > .portfolio__overlay {
  opacity: 1;
}

.portfolio__overlay-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0;
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  font-size: 30px;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  cursor: pointer;
  transition: all 1s ease;
}

.portfolio__item:hover .portfolio__overlay-icon {
  top: 20px;
  right: 20px;
  opacity: 1;
}

.portfolio__overlay-text {
  position: absolute;
  bottom: -60px;
  left: 20px;
  text-align: left;
  transition: bottom 1s ease;
}

.portfolio__item:hover .portfolio__overlay-text {
  bottom: 20px;
}

.portfolio__overlay-text > p:nth-child(1) {
  font-size: 22px;
  font-weight: 800;
}

.portfolio__overlay-text > p:nth-child(2) {
  opacity: 0.7;
}

/* ############################################### */
/* PLAN                                            */
/* ############################################### */

.plan {
  padding-block: 100px;
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: center;
}

.plan .title {
  text-align: center;
}

.plan__content {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.plan__item {
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 0px 50px 0px;
  border: 3px solid transparent;
  transition: border-image 0.5s ease;
  border-image: 100 round;
  background-color: var(--color-white);
  border-radius: 10px;
}

.plan__item:hover {
  border-image: url(../img/br.png) 3 round;
}

.plan__type {
  font-size: 32px;
  font-weight: 700;
}

.plan__img {
  width: 125px;
  aspect-ratio: 1;
}

.plan__price {
  border-bottom: 1px solid #e1e1f0;
  width: 100%;
}

.plan__price > span:first-of-type {
  font-size: 50px;
  font-weight: 800;
  color: #f8ae56;
}

.plan__price > span:nth-of-type(2) {
  font-weight: 600;
}

.plan__list {
  text-align: left;
  align-self: flex-start;
  padding: 0;
  margin: 15px 0 15px 0;
}

.plan__list li {
  display: flex;
  gap: 15px;
}

.plan__list > * + * {
  margin-top: 10px;
}

.plan__list i {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  color: var(--color-french-rose);
  background-color: var(--color-remy);
  display: inline-grid;
  place-content: center;
}

/* ############################################### */
/* TESTIMONIAL                                     */
/* ############################################### */

.testimonial {
  padding-block: 100px;
  background-image: url(../img/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.testimonial > .container {
  text-align: center;
}

.testimonial__thumbs {
  width: 300px;
  height: max-content;
}

.testimonial__thumbs .swiper-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.testimonial__thumbs .swiper-slide::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color-french-rose);
  order: 3;
  opacity: 0;
  transition: opacity 700ms ease;
}

.testimonial__thumbs .swiper-slide::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--color-french-rose);
  opacity: 0;
  transition: opacity 1000ms ease;
}

.testimonial__thumbs .swiper-slide.swiper-slide-thumb-active::before,
.testimonial__thumbs .swiper-slide.swiper-slide-thumb-active::after {
  opacity: 1;
}

.testimonial__thumbs-img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  transition: margin-top 700ms ease;
}

.testimonial__thumbs
  .swiper-slide.swiper-slide-thumb-active
  > .testimonial__thumbs-img {
  margin-top: 0;
}

.testimonial__thumbs-img > img:first-of-type {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 4px;
  background-color: var(--color-french-rose);
}

.testimonial__thumbs-img > img:nth-of-type(2) {
  background-color: var(--color-french-rose);
  margin-top: -8.5px;
  z-index: -1;
}

.swiper.testimonial__text {
  padding-bottom: 70px;
  padding-top: 20px;
}

.testimonial__text .swiper-slide {
  display: grid;
  place-content: center;
}

.testimonial__text-container {
  border-radius: 10px;
  position: relative;
  width: 770px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
  background-color: var(--color-white);
}

.testimonial__text-container > i {
  position: absolute;
  top: 10px;
  left: 25px;
  font-size: 70px;
  font-style: italic;
  color: var(--color-french-rose);
  transform: rotate(180deg);
}

.testimonial__text-container > h3 {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 5px;
}

.testimonial__text-container > p:nth-of-type(1) {
  font-style: italic;
  color: var(--color-french-rose);
  margin-bottom: 15px;
}

.testimonial__text .swiper-slide > p:nth-of-type(2) {
  padding: 15px;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-french-rose);
}

/* ############################################### */
/* BLOG                                            */
/* ############################################### */

.blog {
  padding: 100px 0px 50px 0px;
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: top center;
}

.blog .title {
  text-align: center;
}

.owl-carousel {
  color: #636363;
}

.blog__item {
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--color-remy);
}

.blog__img {
  margin-bottom: 35px;
  position: relative;
}

.blog__img::after {
  content: "23 MARCH 2022";
  position: absolute;
  padding: 10px 20px;
  left: 15px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: var(--color-white);
  border-radius: 10px;
  transform: translateY(-50%);
}

.blog__img img {
  border-radius: 10px;
}

.blog__text {
  padding-inline: 15px;
  margin-bottom: 40px;
}

.blog__text > h3 {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-mine-shaft);
}

.blog__info {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 15px;
  padding-block: 20px;
}

.blog__author {
  display: flex;
  align-items: center;
  gap: 5px;
}

.blog__author > i,
.blog__comment > i {
  font-size: 25px;
  font-weight: 900;
  color: var(--color-french-rose);
}

.blog__author > p > span {
  color: var(--color-french-rose);
}

.blog__comment {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* ############################################### */
/* FOOTER                                          */
/* ############################################### */

.footer {
  background-image: url(../img/bg4.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-color: var(--color-aztec);
  z-index: 2;
}

.footer .container * {
  z-index: 999;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/pattern2.png);
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  z-index: -1;
}

.footer__cta {
  border-radius: 10px;
  padding: 50px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px 0px;
  background-image: url(../img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: var(--color-white);
  margin-bottom: 80px;
}

.footer__cta-text > h2 {
  font-size: 28px;
  font-weight: 700;
}

.footer__cta-form {
  display: flex;
  align-items: stretch;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 60px 0px;
  background-color: var(--color-white);
  border-radius: 10px;
}

.footer__cta-form input {
  min-height: 100%;
  width: 30rem;
  padding: 20px;
  border: 2px solid transparent;
  transition: border 0.5s ease;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.footer__cta-form input:hover {
  border: 2px solid var(--color-french-rose);
}

.footer__cta-form input:focus {
  outline: none;
}

.footer__cta-btn {
  border-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px 35px;
}

.footer__cta-btn > i {
  font-size: 20px;
  font-weight: 900;
  transition: transform 1s ease, opacity 1s ease;
  position: relative;
}

.footer__cta-btn:hover > i {
  animation: horizontalScrolling 0.5s;
}

@keyframes horizontalScrolling {
  49% {
    transform: translateX(100%);
  }
  50% {
    opacity: 0;
    transform: translateX(-100%);
  }
  51% {
    opacity: 1;
  }
}

.footer__content {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 70px;
  color: var(--color-white);
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__info img {
  width: 174px;
  height: 55px;
}

.footer__info-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__info-item i {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
}

.footer__item {
  display: flex;
  justify-content: space-between;
}

.footer__link > h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
  padding-block: 10px;
  position: relative;
}

.footer__link > h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20px;
  height: 4px;
  transform: translateY(50%);
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 10px;
}

.footer__link > h3::after {
  content: "";
  position: absolute;
  left: 25px;
  bottom: 0;
  width: 40px;
  height: 4px;
  transform: translateY(50%);
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 10px;
}

.footer__link ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__link li a {
  color: #636363;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: color 0.5s ease;
}

.footer__link li a:hover {
  color: var(--color-white);
}

.footer__copyright {
  margin-top: 100px;
  background-color: var(--color-te-papa-green);
  padding-block: 15px;
  color: var(--color-white);
}

.footer__copyright .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__copyright-text span {
  color: var(--color-french-rose);
}

.footer__copyright-icon {
  display: flex;
  gap: 20px;
}

.footer__copyright-icon a {
  text-decoration: none;
  color: var(--color-white);
  width: 45px;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.7s ease;
}

.footer__copyright-icon a:hover {
  background-color: var(--color-french-rose);
}

/* ############################################### */
/* SCROLL TO TOP                                   */
/* ############################################### */

.backToTop {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-decoration: none;
  display: grid;
  place-content: center;
  background: rgba(0, 0, 0, 0.25);
  font-weight: bold;
  color: #fff;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  transition: background-color 200ms ease;
  z-index: 2;

  visibility: hidden;
  opacity: 0;
}

.backToTop:hover {
  background-color: var(--color-french-rose);
  animation: bounce 1.5s ease 0s infinite;
  transform-origin: bottom;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-10px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
